:root {
  /* Color Variables */
  --app-background: #1a1a1a;         /* Main background color */
  --text-unhovered: #f0f0f0;        /* Unhovered text color */
  --hover-color: #826e9c;           /* Accent color for hover effects */
  --border-color: #a38ac3;          /* Border color for cards */
  --card-body-background: #100d13;  /* Background color for cards */
  --card-title-color: #f0f0f0;      /* Color for card titles */
  --card-body-text: #f0f0f0;        /* Text color for card content */
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-unhovered);
  background-color: var(--app-background);
  font-family: "Roboto", sans-serif; /* Use the "Roboto" font for the entire page */
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content-container {
  position: relative;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    rgba(26, 26, 26, 0.8),
    rgba(26, 26, 26, 0.6) 50%,
    rgba(26, 26, 26, 0.4) 80%,
    rgba(26, 26, 26, 0) 100%
  );
}


.nav-link:hover {
  animation: colorChange 0.3s ease forwards;
}

.nav-link:not(:hover) {
  animation: colorChangeExit 0.3s ease forwards;
}

/* Home */
#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-unhovered); /* Unhovered text color for the home section */
  background: transparent; /* Main background color */
}

h2 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif; /* Use the "Roboto" font for headings */
  font-weight: 900;
  cursor: pointer;
}

.animated-letter {
  display: inline-block;
  color: var(--text-unhovered); /* Initial color for the letters */
}

.animated-letter:hover {
  animation: colorChange 0.3s ease forwards, floatUp 0.8s both;
}

.animated-letter:not(:hover) {
  animation: colorChangeExit 0.8s ease forwards, floatDown 0.8s both;
}

@keyframes colorChange {
  from {
    color: var(--text-unhovered);
  }
  to {
    color: var(--hover-color); 
  }
}

@keyframes colorChangeExit {
  from {
    color: var(--hover-color);
  }
  to {
    color: var(--text-unhovered);
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-6px);
  }
}

@keyframes floatDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(6px);
  }
}

/* skills */
#skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-unhovered); 
  background-color: var(--background); 
}

.custom-card {
  border: 1px solid var(--border-color); 
  background-color: var(--card-body-background); 
  transition: background-color 0.3s ease; 
  width: 100%;
  max-width: 300px; 
  margin: auto;
  height: 310px; 
}

.card-a {
  text-decoration: none;
}

.card:hover {
  transform: scale(1.05); 
}

.card-title {
  font-size: 1.5rem; 
  font-weight: bold;
  color: var(--card-title-color); 
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  transition: opacity 0.3s ease; 
  pointer-events: none; 
  opacity: 1; 
}

.card:hover .card-title {
  opacity: 0;
}

.card-body {
  padding: 1rem;
  background-color: var(--card-body-background);
  color: var(--card-body-text);
  transform-origin: center;
  transition: color 0.3s ease, transform 0.3s ease;
}

.card-body ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
  margin: 0; 
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.card:hover ul {
  opacity: 1;
}

.card-body ul li {
  margin-bottom: 0.5rem;
}

#skills .card-body ul li {
  font-size: 1.3rem;
}

#contact .card-body ul li {
  font-size: 1.2rem;
}

.card-body:not(:hover) {
  animation: cardColorChange 0.8s ease forwards, floatDown 0.8s both;
}

.card-body:hover {
  animation: cardColorChangeExit 0.8s ease forwards, floatUp 0.8s both;
}

@keyframes cardColorChange {
  from {
    color: var(--text-unhovered);
    background-color: var(--card-body-background);
  }
  to {
    color: var(--hover-color);
    background-color: #514561;
  }
}

@keyframes cardColorChangeExit {
  from {
    color: var(--hover-color);
    background-color: #514561;
  }
  to {
    color: var(--text-unhovered); 
    background-color: var(--card-body-background); 
  }
}

#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-unhovered); 
  background-color: var(--background);
}

#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-unhovered);
  background-color: var(--background); 
}
