body {
  margin: 0;
  padding: 0;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home h2 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  cursor: pointer;
}

.animated-letter {
  display: inline-block;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.animated-letter:hover {
  animation: floatUp 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
}

.animated-letter:not(:hover) {
  animation: floatDown 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
